
.disaster{
  padding: 20px;
  flex: 1;
}
  .dash-btn{
    padding: 10px 0 10px 0;
  }

  .dash-btn i{
    margin-right: 10px;
  }

  button {
    transition: background-color 0.3s, transform 0.2s ease; /* Smooth transition for color and scale */
  }
  
  button:hover {
    background-color: #3498db;
    transform: scale(1.05);
  }

  .add-disaster {
    background-color: #0A194E; 
    color: white;       
    border-radius: 5px;      
    border: none;              
    padding: 10px 10px;        
    font-size: 12px;           /* Font size */
    cursor: pointer;         /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition on hover */
    margin-right: 10px;  
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .add-disaster:hover{
    background-color: #233c96; /* Darker blue on hover */
  }

  .dashboard-container{
    background-color: white;
    border-collapse: collapse;
    height: 100%;
  }

  .dashboard-container > h2{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    padding: 20px 20px 10px 0px;
    margin: 0;
    border-bottom: 2px solid #0A194E;
    margin: 0 20px 0 20px;
  }

        /*para ni sa button duha list and visualization*/
        .disaster .toggle-container {
          display: flex;
          width: 100%;
          background-color: #7c8396; /* Default background */
          border-radius: 20px;
          overflow: hidden;
          margin: 0 0 20px 0;
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Soft button-like shadow */
        }
        
        .disaster .toggle-container button {
          flex: 1;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
          font-size: 16px;
          font-weight: bold;
          background: transparent;
          color: white;
        }
        
        /* Remove border-radius from middle edges */
        .disaster .toggle-container button:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        
        .disaster .toggle-container button:last-child {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        
        /* Active state */
        .disaster .toggle-container button.active {
          background-color: #2f3651; /* Active button background */
          color: white;
        }
        
        /* Smooth hover effect */
        .disaster .toggle-container button:hover {
          background-color: rgba(47, 54, 81, 0.8); 
        }
        
  

  .dstr-container{
    background: white;
    width: 1000px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease;  
  }

  .disasters-visualizations{
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .disasters-visualizations > h2{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    padding: 0px 20px 10px 0px;
    margin: 0;
    border-bottom: 2px solid #0A194E;
    
  }


          .disasters-visualizations .ch1{
            padding: 20px;
            max-width: 100%;
          }

          
          .disasters-visualizations .ch3{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            width: 100%;
          }


          .disasters-visualizations .ch2{
              display: flex;  /* Use flexbox instead of grid */
              justify-content: space-between;
              align-items: stretch; /* Ensures children (charts) match in height */
              gap: 20px;
          }

                  .disasters-visualizations .ch3 {
                    display: flex;
                    gap: 20px;
                    width: 100%;
                }
                
                .pie-graph-container,
                .donut-graph-container {
                    display: flex;
                    flex-direction: column;
                    flex: 1; /* Takes up less space */
                }
                
                .line-graph-container {
                    flex: 1.5; /* Takes up more space */
                }
                


          .pie-graph-container,
          .donut-graph-container,
          .line-graph-container {
              display: flex;
              flex-direction: column;
              justify-content: center; /* Ensures full height usage */
              align-items: center;
         
              height: auto; /* Prevent fixed height from restricting */
              min-height: 400px; /* Ensures equal size */
          }
          

          .pie-wrapper canvas,
          .donut-wrapper canvas,
          .line-graph-container canvas {
              width: 100% !important;
              height: 100% !important;
              max-height: none; /* Remove fixed restriction */
          }
          


  .dis-filter{
    display: flex;
    padding: 0 0 5px 0;
    gap: 10px;
  }

    .dis-filter-container {
      font-size: 1.1em;
      border: 1px solid #ccc;
      border-radius: 5px;
      gap: 10px;
      padding: 0 10px 0 10px;
      background-color: #0A194E;
      
    }
    
    .dis-filter-container label {
      font-weight:300;
      color: white;
    }
    
    .dis-filter-container select {
      padding: 8px 12px;
      font-size: 15px;
      border: none;
      outline: none;
      background-color: #6ab1ea00;
      transition: border-color 0.3s ease;
      color: white !important;
      
    }

    .dis-filter-container option {
      padding: 8px 12px;
      font-size: 15px;
      border: none;
      outline: none;
      background-color: #fff;
      transition: border-color 0.3s ease;
      color: black !important;
    }
    
    
    .dis-filter-container select:focus {
      border-color: #0056b3;
    }
    
    .dis-filter-container select option {
      padding: 10px;
    }

  .disasters-table {
    padding: 20px;
    height: 100%;
  }

  .disasters-table > h2{
    font-size: 25px;
    font-weight: bold;
    color: #333;
    padding: 20px 20px 10px 0px;
    margin: 0;
    border-bottom: 2px solid #0A194E;
  }
  
  .disasters-table .distab{
    height: 450px;
  }

  .disasters-table .res-button-container{
    margin-top: auto; 
    display: flex;
    padding: 20px 0 0 0;
  }
  
  

  .header-container {
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Place h2 on the left and search bar on the right */
    align-items: center; /* Vertically center items */
    position: relative; /* For the line pseudo-element */
    padding-bottom: 10px; /* Add some space for the line */
    margin: 0 0 20px 0;
  }
  
  .header-title {
    margin: 0; /* Remove default margin */
    font-size:25px;
   
  }
  
  .dstr-search {
    display: flex;
    padding: 0 0 5px 0;
    gap: 10px;
  }

  .dstr-search-container{
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    margin-left: auto;
    padding: 0 10px 0 10px;
  }
  
  .dstr-search input {
    width: 300px;
    padding: 8px;
    border: none;
    font-size: 16px;
    background-color:#ffffff00;
    outline: none; 
  }
  
  .dstr-search i {
    padding: 8px;
  }
  
  /* Line below */
  .header-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width */
    height: 2px; /* Thickness of the line */
    background-color: #0A194E; /* Line color */
  }

  .pop-form .dstr-form-group {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  .form-group label{
    padding: 10px 0 10px 0;
  }

  .dstr-input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 5px 10px;
  }

  .dstr-input-group .icon {
    color: #555;
    font-size: 16px;
    margin-right: 10px;
  }

  .bgy-input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 5px 10px;
  }

  .dstr-input-group select,
  .dstr-input-group input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    background: transparent;
  }

  .ig{
    display: flex;
    align-items: center;
    padding: 0px 10px;
  }

  .ig i{
    color: #555;
    font-size: 16px;
    margin-right: 10px;
  }

  .checkbox-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; 
    overflow-y: auto;
    padding-right: 10px;
    max-height: 300px;
  }
  
  .checkbox-group div {
    display: flex;
    align-items: center;
  }

  .checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds space between checkbox and label */
  }

  .checkbox-item label{
    font-size: 12px;
    color: #333;
    padding: 0px 0 0 0;
    display: block;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  
  label {
    font-size: 14px;
    color: #333;
  }
  

   /* Modals*/


/* UploadModal */

/* Input and buttons container */
.upload-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* File input */
.upload-form input[type="file"] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.upload-form input[type="file"]:hover {
  border-color: #007bff;
}

/* Submit button */
.submit-btn {
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.submit-btn:hover {
  background-color: #0056b3;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.viewmore-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInOverlay 0.3s ease;
}


.viewmore-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 800px;
}

.viewmore-form label {
  font-size: 12px;
  color: #333;
  padding: 10px 0 5px 0;
  display: block; 
}

.viewmore-form h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  padding: 20px 20px 10px 0px;
  margin: 0;
  border-bottom: 4px solid #0A194E;
}

.viewmore-pop{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

    .viewmore-pop .vm-form-group {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
    }

    .viewmore-pop .vm-input-group {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      padding: 10px 10px;
    }
    
    .viewmore-pop .vm-input-group .icon {
      color: #555;
      font-size: 11px;
      margin-right: 10px;
    }

    .viewmore-pop .vm-input-group .label {
      color: #555;
      font-size: 15px;
      margin-right: 10px;
    }

.viewmore-pop1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

    .viewmore-pop1 .vm-form-group {
      display: flex;
      flex-direction: column;
    }

    .viewmore-pop1 .vm-form-group1{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .viewmore-pop1 .vm-input-group {
      display: flex;
      align-items: center;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
      padding: 10px 10px;
    }
    
    .viewmore-pop1 .vm-input-group .icon {
      color: #555;
      font-size: 11px;
      margin-right: 10px;
    }

    .viewmore-pop1 .vm-input-group .label {
      color: #555;
      font-size: 15px;
      margin-right: 10px;
    }

.disasters-table table th {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center; 
  padding: 10px;
  
}

  .disasters-table table thead tr{
    /*background-color: rgb(10 25 78 / 69%);*/
    color: rgb(0, 0, 0);
  }
  .disasters-table table thead tr:nth-child(even) {
    background-color: #ffffff;
    color: black;
  }

.disasters-table table td {
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

      .wide-column {
        width: 180px;
      }

      .action-column {
        width: 50px;
        text-align: center;
      }
        .disasters-table thead tr:first-child th {
          background-color:rgb(10 25 78 / 69%);
          color: white;
        }

        .disasters-table thead tr:first-child .action-column {
          background-color:rgb(10 25 78 / 69%);
          color: white;
        }

        .disasters-table thead tr:nth-child(2) .action-column {
          font-size: 8px; 
          text-align: center;
          background-color: rgb(10 25 78 / 30%);
        }
        

      .dash-viewmore-btn {
        background-color: transparent;  
        border: 2px solid transparent; 
        color: #333; 
        padding: 10px 20px;  
        font-size: 16px;  
        border-radius: 5px; 
        cursor: pointer; 
      }
    
      .dash-viewmore-btn:hover {
        background-color: rgba(0, 0, 0, 0.1);  /* Light background color on hover */
        border-color: #00000000;  /* Add subtle border color when hovered */
        color: #000;  /* Change text color on hover for better contrast */
        transform: translateY(-2px);  /* Slight lift effect on hover */
      }

.disasters-table p {
  font-size: 18px;
  color: #555;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.disaster .backButton {
  background-color: #0A194E;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 0 10px 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step2{
  padding: 0 20px;
}


/* Close button */

/* Animation for fade-in */
@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInModal {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
