.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInOverlay 0.3sease;
  }
  
  .modal-overlay .modal-content {
    background: #fff;
    /*border-radius: 12px;*/
    padding: 20px;
    width: auto;
    max-width: 1200px;
    max-height: 80vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: fadeInModal 0.3sease;
    overflow-y: auto;
    left: 130px;
  }

  .modal-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    padding: 0px 20px 10px 0px;
    margin:  0 0 10px 0;
    border-bottom: 4px solid #0A194E;
    display: flex;
  }
  
  .modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
    color: #333;
    transition: color 0.3sease, transform 0.2sease;
  }

  .children{
    display: flex;
  }
  